<!DOCTYPE html>
<html>
<head>
    <title>Linear Automate</title>
    <link rel="stylesheet" href="libs/bootstrap.min.css"/>
    <link rel="stylesheet" href="src/style.css"/>
</head>

<body ng-app="app" ng-controller="AutomateCtrl as ctrl">


<div class="content">
    <div class="side-bar">
        <div class="navbar-form">
            <p>
                <button class="btn btn-success" ng-click="ctrl.startLogic()">Start</button>
                <button class="btn btn-success" ng-click="ctrl.processStep()">One step</button>
            </p>
            <p>
                <button class="btn btn-info" ng-click="ctrl.randomMatrix()">Random</button>
                <button class="btn btn-info" ng-click="ctrl.clearMatrix()">Clear</button>
            </p>
            <p>
                <button class="btn btn-danger" ng-click="ctrl.stopLogic()">Stop</button>
            </p>

            <p>
                Speed (ms): <input class="form-control form-control__number navbar__input" type="number" ng-model="ctrl.timeoutMs" step="10" min="10"/>
            </p>
            <p class="navbar-checkbox">
                <input type="checkbox" class="navbar__input" ng-model="ctrl.useWorkers" ng-change="ctrl.toggleStepLogic()" id="webworkersid"/>
                <label for="webworkersid">WebWorkers</label>
            </p>
            <p class="navbar-checkbox">
                Epoch: {{ctrl.automate.epoch}}
            </p>
            <!--<label>
                Rules:
                <input class="form-control form-control__number navbar__input" type="number" step="1" min="0" max="8" placeholder="born"/>
                <input class="form-control form-control__number navbar__input" type="number" step="1" min="0" max="8" placeholder="save"/>
                &nbsp;&nbsp;
            </label>-->
        </div>
    </div>
    
    <div class="container-matrix">
        <canvas class="automate-canvas" width="1800" height="1800"></canvas>
    </div>

</div>


<script type="text/javascript" src="libs/angular.min.js"></script>
<script type="text/javascript" src="src/utils.js"></script>
<script type="text/javascript" src="src/cell.js"></script>
<script type="text/javascript" src="src/automate.js"></script>
<script type="text/javascript" src="src/main.js"></script>
</body>
</html>