<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Linear Automate</title>
    <link rel="stylesheet" href="libs/bootstrap.min.css"/>
    <link rel="stylesheet" href="src/layout.css"/>
    <link rel="stylesheet" href="src/presets.css"/>
</head>

<body ng-app="app" ng-controller="AutomateCtrl as ctrl">


<div class="content">
    
    <div class="side-bar">
        <div class="navbar-form">
            <p>
                <button class="btn btn-success" ng-click="ctrl.startLogic()">Start</button>
                <button class="btn btn-success" ng-click="ctrl.processStep()">One step</button>
            </p>
            <p>
                <button class="btn btn-info" ng-click="ctrl.randomMatrix()">Random</button>
                <button class="btn btn-info" ng-click="ctrl.clearMatrix()">Clear</button>
            </p>
            <p>
                <button class="btn btn-danger" ng-click="ctrl.stopLogic()">Stop</button>
            </p>

            <p class="navbar-checkbox">
                <label>
                    <input type="checkbox" ng-model="ctrl.useWorkers"
                           ng-change="ctrl.toggleStepLogic()" id="webworkersid"/>
                    Web Workers
                </label>
            </p>
            
            <p> 
                Epoch: {{ctrl.automate.epoch}}
            </p>
            
            <div class="navbar__sub-bar">
                <p>
                Speed (ms): <input class="form-control form-control__number navbar__input" type="number"
                ng-model="ctrl.timeoutMs" step="10" min="10"/>
                </p>
                <p>
                Rows: <input class="form-control form-control__number navbar__input" type="number"
                ng-model="ctrl.canvasData.rowsCount" ng-change="ctrl.changeSize()" step="1" min="1"/>
                </p>
                <p>
                Columns: <input class="form-control form-control__number navbar__input" type="number"
                ng-model="ctrl.canvasData.cellsCount" ng-change="ctrl.changeSize()" step="1" min="1"/>
                </p>
                <p>
                Size: <input class="form-control form-control__number navbar__input" type="number"
                ng-model="ctrl.canvasData.canvasRatio" ng-change="ctrl.changeSize()" step="1" min="1"/>
                </p>
            </div>
        </div>
        
        <div class="presets-container" ng-controller="PresetsCtrl as presetsCtrl">
            <button class="btn btn-info" ng-click="presetsCtrl.showPresets = !presetsCtrl.showPresets">
                {{ presetsCtrl.showPresets ? "Hide " : "Show " }} presets
            </button>
            <div class="animate-container">
                <div class="presets-list" ng-hide="!presetsCtrl.showPresets">
                    
                    <button class="btn btn-default btn-default__presets" ng-repeat="preset in presetsCtrl.presets"
                            ng-click="presetsCtrl.currentPattern = presetsCtrl.presets[$index]">
                        {{preset.name}}
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="container-matrix">
        <canvas class="automate-canvas" width="1800" height="1800"></canvas>
    </div>

</div>


<script type="text/javascript" src="libs/angular.min.js"></script>
<script type="text/javascript" src="libs/angular-animate.min.js"></script>
<script type="text/javascript" src="src/app.js"></script>
<script type="text/javascript" src="src/utils.js"></script>
<script type="text/javascript" src="src/automate.js"></script>
<script type="text/javascript" src="src/canvasData.js"></script>
<script type="text/javascript" src="src/canvasService.js"></script>
<script type="text/javascript" src="src/automateCtrl.js"></script>
<script type="text/javascript" src="src/presetsData.js"></script>
<script type="text/javascript" src="src/presetsCtrl.js"></script>
</body>
</html>