html,
body,
content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	font-size: 11px;
}

.btn {
	font-size: 12px;
}

.content {
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}

.container-matrix {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

.automate-canvas {
    cursor: pointer;
}


.animate-container {
    position: relative;
}

.animate-container.ng-hide-remove,
.animate-container.ng-hide-add {
    transition: all 0.2s ease;
    display: block!important;
}
.animate-container.ng-hide-add.ng-hide-add-active,
.animate-container.ng-hide-remove {
    opacity: 0;
    max-height: 0;
}
.animate-container.ng-hide-add,
.animate-container.ng-hide-remove.ng-hide-remove-active{
    opacity: 1;
    max-height: 300px;
}
