
.side-bar {
    text-align: center;
    border-right: 1px solid #7eeafe;
    width: 250px;
    position: relative;
}

.form-control__number {
    width: 100px;
    display: inline;
}


.navbar__input {
    width: 65px;
    padding-right: 2px;
}

.navbar__checkbox {
    margin-top: 10px;
}

.navbar__sub-bar {
    text-align: right;
    padding-right: 10px;
    margin-top: 12px;
}