html,
body,
content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}

.side-bar {
    /*background-color: blanchedalmond;*/
    text-align: center;
    border-right: 1px solid #7eeafe;
}

.container-matrix {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
}


.automate-canvas { 
    /*position: relative;*/
    cursor: pointer;
}

.cell_empty {
    background-color: #7eeafe;
}
.cell_empty:hover {
    background-color: #3e98fe;
}
.cell_active {
    background-color: #6ef474;
}
.cell_active:hover {
    background-color: #07f416;
}
.cell_filled {
    background-color: #ffffff;
}
.cell_filled:hover {
    background-color: #dddddd;
}

.form-control__number {
    width: 100px;
    display: inline;
}

.automate-table__row {
    height: 8px;
}
.automate-table__cell {
    width: 8px;
    height: 8px;
    border: solid 1px #2db5dd;
}